# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:
# seu código aqui
indices = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [5]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
s_temp = pd.Series(dic_temperaturas)

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [9]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df_arr = pd.DataFrame(arr)

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [31]:
#seu código aqui
indices = []
for i in range(1,21):
    indices.append(i)
indices

df_arr.columns = ['x1','x2','x3']
df_arr.index = indices

df_arr

            x1          x2          x3
1   111.877975   89.341527   90.107948
2   105.566334  106.631748  104.963477
3   101.851713   98.704776  118.321021
4    96.748749   87.611589  105.625894
5   107.014113  101.573183  110.921181
6    95.193459  112.926478  107.169956
7   122.915385  120.899593   96.768682
8    98.932315   94.088076  101.239830
9   108.123108   99.883407  105.594665
10   92.282406  115.263203   85.714008
11  104.014866   92.185359  111.958544
12  103.167243  115.478471  108.594573
13   84.738304   87.371456  114.180787
14   93.269471  111.034129  111.641369
15  112.676830   80.676857   97.111268
16   99.109597   82.646793  104.090203
17   82.712328  111.531492   99.412127
18   79.559141  108.069608  108.993047
19   84.573285   98.302215  103.591709
20   94.796742   80.824972  107.449255

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [34]:
# seu código aqui
df_arr['media'] = df_arr['x1'] + df_arr['x2'] + df_arr['x3'] / 3

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [36]:
# seu código aqui
df_arr['log_med'] = np.log(df_arr.media)
df_arr

            x1          x2          x3       media   log_med
1   111.877975   89.341527   90.107948  231.255485  5.443523
2   105.566334  106.631748  104.963477  247.185908  5.510141
3   101.851713   98.704776  118.321021  239.996829  5.480626
4    96.748749   87.611589  105.625894  219.568969  5.391666
5   107.014113  101.573183  110.921181  245.561022  5.503545
6    95.193459  112.926478  107.169956  243.843256  5.496526
7   122.915385  120.899593   96.768682  276.071205  5.620659
8    98.932315   94.088076  101.239830  226.767001  5.423923
9   108.123108   99.883407  105.594665  243.204737  5.493904
10   92.282406  115.263203   85.714008  236.116945  5.464327
11  104.014866   92.185359  111.958544  233.519740  5.453267
12  103.167243  115.478471  108.594573  254.843905  5.540651
13   84.738304   87.371456  114.180787  210.170022  5.347917
14   93.269471  111.034129  111.641369  241.517390  5.486941
15  112.676830   80.676857   97.111268  225.724110  5.419314
16   99.109597   82.646793  104.090203  216.453124  5.377374
17   82.712328  111.531492   99.412127  227.381196  5.426628
18   79.559141  108.069608  108.993047  223.959764  5.411466
19   84.573285   98.302215  103.591709  217.406070  5.381767
20   94.796742   80.824972  107.449255  211.438132  5.353932